#head, .questions {
	background-color: white;
	border: solid 3px black;
	color: black;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 4%;
}

#title, .question_title {
	font-size: 200%;
	border-bottom: solid 2px black;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 2%;
	word-wrap: break-word;
}

#title {
	color: rgb(255,50,50);
}

#description, .question_title {
	font-size: 150%;
}

#description {
	margin-left: 5%;
	margin-right: 5%;
	word-wrap: break-word;
}

.question_number {
	float: right;
	margin-top: -4%;
	font-size: 80%;
	margin-right: -3%;
}

.question_type {
	float: left;
	margin-top: -4%;
	font-size: 80%;
	margin-left: -3%;
}

.question_text {
	margin-top: 5%;
}

.results {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	width: 90%;
}

.results div{
	display: inline-block;
	width: 50%;
}

.results table{
	width: 100%;
}

.results table tbody tr{
	margin: 2%;
	background-color: rgb(80,80,80);
}

.results table tbody tr td{
	width: 50%;
	padding: 1%;
}

.results table tbody tr td div{
	width: 100%;
	word-wrap: break-word;
	word-break: break-all;
	font-size: 110%;
	color: white;
}

.results table tbody tr:nth-child(2n){
	background-color: rgb(255,150,50);
}

.number_answer{
	border-top: solid 2px black;
	padding-top: 1%;
	margin-left: 20%;
	margin-right: 20%;
}
